{% extends '@EmmedyH5P/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        <div id="h5p-editor">Waiting for javascript...</div>
        <br />
        {{ form_row(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_row(form.library) }}
        {{ form_row(form.parameters) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var H5PIntegration = {{ h5pIntegration|json_encode|raw }};
    </script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-event-dispatcher.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api-event.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-content-type.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-confirmation-dialog.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-action-bar.js') }}"></script>

    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-selector-hub.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-editor.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/symfony-h5p.js') }}"></script>
{% endblock %}