{% extends '@EmmedyH5P/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        <div id="h5p-editor">Waiting for javascript...</div>
        <br />
        {{ form_row(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_row(form.library) }}
        {{ form_row(form.parameters) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>

         var H5PIntegration = {
             "baseUrl": "/",
             "url": "/h5p",
             "postUserStatistics": true,
             "ajax": {
                 "setFinished": "/drupal/h5p-ajax/set-finished.json?token=20ee59a2e3f5e",
                 "contentUserData": "/drupal/h5p-ajax/content-user-data/:contentId/:dataType/:subContentId?token=ee9ae2460f0d8"
             },
             "saveFreq": false,
             "l10n": {
                 "H5P": {
                     "fullscreen": "Fullscreen",
                     "disableFullscreen": "Disable fullscreen",
                     "download": "Download",
                     "copyrights": "Rights of use",
                     "embed": "Embed",
                     "size": "Size",
                     "showAdvanced": "Show advanced",
                     "hideAdvanced": "Hide advanced",
                     "advancedHelp": "Include this script on your website if you want dynamic sizing of the embedded content:",
                     "copyrightInformation": "Rights of use",
                     "close": "Close",
                     "title": "Title",
                     "author": "Author",
                     "year": "Year",
                     "source": "Source",
                     "license": "License",
                     "thumbnail": "Thumbnail",
                     "noCopyrights": "No copyright information available for this content.",
                     "downloadDescription": "Download this content as a H5P file.",
                     "copyrightsDescription": "View copyright information for this content.",
                     "embedDescription": "View the embed code for this content.",
                     "h5pDescription": "Visit H5P.org to check out more cool content.",
                     "contentChanged": "This content has changed since you last used it.",
                     "startingOver": "You\u0027ll be starting over.",
                     "by": "by",
                     "showMore": "Show more",
                     "showLess": "Show less",
                     "subLevel": "Sublevel",
                     "confirmDialogHeader": "Confirm action",
                     "confirmDialogBody": "Please confirm that you wish to proceed. This action is not reversible.",
                     "cancelLabel": "Cancel",
                     "confirmLabel": "Confirm",
                     "licenseU": "Undisclosed",
                     "licenseCCBY": "Attribution",
                     "licenseCCBYSA": "Attribution-ShareAlike",
                     "licenseCCBYND": "Attribution-NoDerivs",
                     "licenseCCBYNC": "Attribution-NonCommercial",
                     "licenseCCBYNCSA": "Attribution-NonCommercial-ShareAlike",
                     "licenseCCBYNCND": "Attribution-NonCommercial-NoDerivs",
                     "licenseCC40": "4.0 International",
                     "licenseCC30": "3.0 Unported",
                     "licenseCC25": "2.5 Generic",
                     "licenseCC20": "2.0 Generic",
                     "licenseCC10": "1.0 Generic",
                     "licenseGPL": "General Public License",
                     "licenseV3": "Version 3",
                     "licenseV2": "Version 2",
                     "licenseV1": "Version 1",
                     "licensePD": "Public Domain",
                     "licenseCC010": "CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
                     "licensePDM": "Public Domain Mark",
                     "licenseC": "Copyright"
                 }
             },
             "hubIsEnabled": true,
             "user": {"name": "nieck", "mail": "nieck@emmedy.nl"},
             "editor": {
                 "filesPath": "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor",
                 "fileIcon": {"path": "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/images/binary-file.png", "width": 50, "height": 50},
                 "ajaxPath": "http://onlineleren.loc/app_dev.php/ajax/",
                 "libraryPath": "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/",
                 "copyrightSemantics": {
                     "name": "copyright",
                     "type": "group",
                     "label": "Copyright information",
                     "fields": [{"name": "title", "type": "text", "label": "Title", "placeholder": "La Gioconda", "optional": true}, {
                         "name": "author",
                         "type": "text",
                         "label": "Author",
                         "placeholder": "Leonardo da Vinci",
                         "optional": true
                     }, {"name": "year", "type": "text", "label": "Year(s)", "placeholder": "1503 - 1517", "optional": true}, {
                         "name": "source",
                         "type": "text",
                         "label": "Source",
                         "placeholder": "http://en.wikipedia.org/wiki/Mona_Lisa",
                         "optional": true,
                         "regexp": {"pattern": "^http[s]?://.+", "modifiers": "i"}
                     }, {
                         "name": "license",
                         "type": "select",
                         "label": "License",
                         "default": "U",
                         "options": [{"value": "U", "label": "Undisclosed"}, {
                             "value": "CC BY",
                             "label": "Attribution",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "CC BY-SA",
                             "label": "Attribution-ShareAlike",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "CC BY-ND",
                             "label": "Attribution-NoDerivs",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "CC BY-NC",
                             "label": "Attribution-NonCommercial",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "CC BY-NC-SA",
                             "label": "Attribution-NonCommercial-ShareAlike",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "CC BY-NC-ND",
                             "label": "Attribution-NonCommercial-NoDerivs",
                             "versions": [{"value": "4.0", "label": "4.0 International"}, {"value": "3.0", "label": "3.0 Unported"}, {
                                 "value": "2.5",
                                 "label": "2.5 Generic"
                             }, {"value": "2.0", "label": "2.0 Generic"}, {"value": "1.0", "label": "1.0 Generic"}]
                         }, {
                             "value": "GNU GPL",
                             "label": "General Public License",
                             "versions": [{"value": "v3", "label": "Version 3"}, {"value": "v2", "label": "Version 2"}, {"value": "v1", "label": "Version 1"}]
                         }, {
                             "value": "PD",
                             "label": "Public Domain",
                             "versions": [{"value": "-", "label": "-"}, {"value": "CC0 1.0", "label": "CC0 1.0 Universal"}, {"value": "CC PDM", "label": "Public Domain Mark"}]
                         }, {"value": "C", "label": "Copyright"}]
                     }, {"name": "version", "type": "select", "label": "License Version", "options": []}]
                 },
                 "assets": {
                     "css": ["http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/styles/h5p.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/styles/h5p-confirmation-dialog.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/styles/h5p-core-button.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/libs/darkroom.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/styles/css/h5p-hub-client.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/styles/css/fonts.css", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/styles/css/application.css"],
                     "js": ["http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/jquery.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-event-dispatcher.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api-event.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-content-type.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-confirmation-dialog.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-core/js/h5p-action-bar.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5p-hub-client.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-semantic-structure.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-library-selector.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-form.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-text.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-html.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-number.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-textarea.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-file-uploader.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-file.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-image.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-image-popup.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-av.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-group.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-boolean.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-list.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-list-editor.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-library.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-library-list-cache.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-select.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-selector-hub.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-selector-legacy.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-dimensions.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-coordinates.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-none.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/ckeditor/ckeditor.js", "http://onlineleren.loc/bundles/emmedyh5p/h5p/h5p-editor/language/en.js"]
                 },
                 "apiVersion": {"majorVersion": 1, "minorVersion": 14}
             }
         };
         {% if contentId %}
            H5PIntegration.editor.contentId = {{ contentId }};
         {% endif %}

    </script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-event-dispatcher.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api-event.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-x-api.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-content-type.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-confirmation-dialog.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-core/js/h5p-action-bar.js') }}"></script>

    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-selector-hub.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/h5p-editor/scripts/h5peditor-editor.js') }}"></script>
    <script src="{{ asset('bundles/emmedyh5p/h5p/symfony-h5p.js') }}"></script>
{% endblock %}